
$primary: #499b4a ;
$danger: red;
$navbar-dark-color: #CDA434;
$navbar-light-color: #CDA434;
$navbar-light-disabled-color: #CDA434;
$navbar-light-active-color: #CDA434;
$navbar-light-toggler-border-color: red;
$navbar-light-brand-color: #499b4a;
$navbar-light-brand-hover-color: #79a87a;
$navbar-light-hover-color: #cab478;
$navbar-light-toggler-border-color: red;

// card

$pagination-color: #24292f;
$pagination-padding-y: .375rem;
$pagination-bg: #cab478;
$pagination-border-color: #24292f;
$pagination-hover-bg: #CDA434;
$pagination-focus-color:#CDA434;

$pagination-active-bg: #CDA434;


@import "~bootstrap/scss/bootstrap";
.pagination {
    margin-top: 3rem;

    text-align: center;
}

.lodging-pic{
        height: 200px;
        border-radius: 30px;
    }

    #home-card{
        text-align: center;
    }


  

body {

    .leaflet-container {
        height: 400px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .dropdown-menu{
        background-color: #cab478;
    }
    .dropdown-item{
        background-color: #cab478;;
        color: #24292f;
    }

    .dropdown-item:hover {
        background-color: #CDA434;
        color: #499b4a ;
    }
    background-color: #24292f;
    color: #CDA434;

    th{
        color: #bfbfbf;
    }
    td{
        color: #bfbfbf;
    }
   
}
