{% extends 'base.html.twig' %}

{% block title %}New Lodging{% endblock %}

{% block body %}
    <h1>Create new Lodging</h1>

    {{ include('lodging/_form.html.twig') }}

    <a href="{{ path('app_lodging_index') }}">back to list</a>
{% endblock %}
