{% extends 'base.html.twig' %}

{% block title %}New Lodging{% endblock %}

{% block body %}
    <h1>Create new Lodging</h1>

    {{ include('lodging/_form.html.twig') }}
    <a href="{{ path('app_lodging_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script>
  
    
        window.onload = () => {
            // On va chercher la région
            // let region = document.querySelector("#lodging_region")

          //  region.addEventListener("change", function(){
         //       let form = this.closest("form")
          //      let data = this.name + "=" + this.value
            //    
          //      fetch(form.action, {
           //         method: form.getAttribute("method"),
         //           body: data,
        //            headers: {
       //                 "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
     //               }
      //          })
       //         .then(response => response.text())
      //          .then(html => {
        //        let content = document.createElement("html")
      //          content.innerHTML = html
      //          let nouveauSelect = content.querySelector("#lodging_departement") 

                

        //         })

      //      })  

     //       document.querySelector("#lodging_departement").replaceWith(nouveauSelect)

                            let departement = document.querySelector("#lodging_departement")

                            departement.addEventListener("change", function(){
                                console.log(departement)
                                let form = this.closest("form")
                                console.log(form);
                                let data = this.name + "=" + this.value
                                
                                fetch(form.action, {
                                    method: form.getAttribute("method"),
                                    body: data,
                                    headers: {
                                        "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
                                    }
                                })
                                .then(response => response.text())
                                .then(html => {
                                    let content = document.createElement("html")
                                    content.innerHTML = html
                                    let nouveauSelect = content.querySelector("#lodging_city")
                                    console.log(nouveauSelect)

                                    document.querySelector("#lodging_city").replaceWith(nouveauSelect)
                            
                            })

                            })

        }

        
    </script>
    
{% endblock %}
