{% extends 'base.html.twig' %}

{% block title %}New Conversation{% endblock %}

{% block body %}
    <h1>Conversation {{conversation.id}}</h1>
    <p><a href="{{ path('app_conversation', {'id': conversation.id}) }}">Back</a></p>
{% endblock %}
