{% extends 'base.html.twig' %}

{% block title %}New Conversation{% endblock %}

{% block body %}
    <h1>Create new Conversation</h1>
    
    <p><a href="{{ path('app_message_new', {'conversation': conversation.id}) }}">New Message</a></p>
{% endblock %}
